<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="flex">
          <a class="logo" href="/">Kshem</a>
          <ul>
            <li>
              <a href="/articles/<%= article.slug %>/edit" class="btn">Edit</a>
              <a href="/articles/<%= article.slug %>/delete" class="btn"
                >Delete</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="article gap4">
        <div class="container flex gap4">
          <article class="article-banner">
            <header class="flex f-center">
              <h2><%= article.title %></h2>
            </header>
            <main>
              <p><%= article.description%></p>
              <a class="author" href=""> - <%= article.author.fullName() %></a>
            </main>
          </article>
          <aside class="aside-bar">
            <div class="container comments">
              <main>
                <h2 class="center">Comments</h2>
                <% if (article.comments.length) { %> <% article.comments.forEach
                ((comment) => { %>
                <div class="flex">
                  <p><%= comment.content %></p>
                  <div class="flex ctrl">
                    <a
                      href="/articles/<%= article.slug %>/comments/<%= comment.slug %>/delete"
                      >delete</a
                    >
                  </div>
                </div>
                <hr />
                <% })} else { %>
                <div class="flex f-center">
                  <p class="flash">No Comments</p>
                </div>
                <% } %>
              </main>
              <footer>
                <div class="flex likes">
                  <div class="flex">
                    <% if (article.isLiked) { %>
                    <a class="icon" href="">💚</a>
                    <% } else { %>
                    <a class="icon" href="">🤍</a>
                    <% } %>
                    <span>liked by <%= article.likes %></span>
                  </div>
                  <div></div>
                </div>

                <form
                  class="flex"
                  action="/articles/<%= article.slug %>/comments/new"
                  method="POST"
                >
                  <input
                    type="text"
                    name="content"
                    placeholder="Add a comment..."
                  />
                  <button class="comment-btn">post</button>
                </form>
              </footer>
            </div>
          </aside>
        </div>
      </section>
    </main>
  </body>
</html>
